<!DOCTYPE html>
<html lang="en">

<head>
	<% include shared/head %>
</head>

<body>
	<% include shared/menu %>
		<div class="container">
			<div class="row">
				<div class="col-lg col-md col-sm">
					<h1>
						<%= page %>
					</h1>
				</div>
			</div>
		</div>
</body>
<% include shared/script %>

</html>